
html {
	background-color: transparent;
}

body {
font-family:"Lucida Grande", Tahoma, Arial, sans-serif;
background-color: #FFFFFE;
}

h1,h2,h3,h4,h5,h6 {
font-family: "Helvetica Neue Light", Helvetica, Arial, sans-serif;
font-weight: 200;
text-rendering: optimizeLegibility;
}

h1 {
	margin-top: 5px;
} h2 {
	border-bottom: 1px solid #999;
	line-height: 35px;
}

h1 small {
font-color:#999;
font-weight:200;
}

.footnote {
     position: relative; top: -0.5em; font-size: 80%; 
}

h2 small {
    font-color:#999;
    font-weight:200;
    float:right;
    line-height: 35px;
} 

article {
font-family:"Lucida Grande", Tahoma, Arial, sans-serif;
}

article p {
	text-align: justify;
}

.navbar ul, .nav ul {
	padding-left: 0px;
}

.row-fluid [class*="span"]{
	margin-left: 0px;
}

blockquote p {
	font-size: 16px;
}

blockquote {
	margin: 0 0 10px;
	border-left: 5px solid #999;
}

#footer {
	border: 0px;
}

blockquote p {
font-style:italic;
line-height:1.5em;
font-size: 17px;
font-weight: 200;
}

a {
	-webkit-transition:color .2s ease-in-out;
	color: #d21034;
}

pre {
    background-color: #f8f8f8;
border: 1px solid #ccc;
overflow: auto;
border-radius: 3px;
}

code {
	font-size: 14px;
	font-weight: 200;
	color: #ccc;
	background-color: #f8f8f8;
}

article code {
	padding: 2px 2px;
	color: #333333;
	border-color: #999;
	background-color: #f8f8f8;
}

article ul {
	margin: 0px;
}

article ol {
	margin: 0px;
}

article li p {
	margin: 0px;
}

article a:hover {
color:#999;
}

a {
color:#d21034;
}

a:hover {

color:#d21034;

}

article b, article strong {
font-weight: 500;
}

.navbar select {
margin-top:5px;
float: right;
}

@media screen and (min-width: 767px) {
.navbar-inner .brand {
	padding-left: 40px;
		article { min-width: 100%; }
}

.navbar-inner {
	border-left: 0px solid #999;
border-right: 0px solid #999;
}
}

/* styles for desktop */
.tinynav { display: none }

/* styles for mobile */
@media screen and (max-width: 1024px) {
    .tinynav { display: block }
    #nav { display: none }
}

h3 {
    font-weight: 500;
    font-size: 20px;
    color: #999;
}

html,
      body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 40px;
		display:block;
      }
      #footer {
        margin-top: 57px;
      }
      
      #footer p {
	      margin-top:10px;
	      color:#999;
      }
      
      #footer a:hover {
	      color:#dfe1e2;
      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          padding-left: 20px;
          padding-right: 20px;
        }
      }

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px)and (orientation:portrait){
	article { min-width: 100%;}
}

html {font-size:100%;}
body {font-size:85%;}
h1 {font-size:2.5em;line-height:1;margin-bottom:0.5em;margin-top: 21px; margin-bottom: 21px;}
h1 small {font-size: inherit;line-height:1;margin-bottom:0.5em;}
h2 {font-size:2em;margin-bottom:0.75em;}
h3 {font-size:1.5em;line-height:1;margin-bottom:1em;}
h4 {font-size:1.2em;line-height:1.25;margin-bottom:1.25em;}
h5 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}
h6 {font-size:1em;font-weight:bold;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}
strong, dfn {font-weight:bold;}
em, dfn {font-style:italic;}
sup, sub {line-height:0;}
abbr, acronym {border-bottom:1px dotted #666;}
address {margin:0 0 1.5em;font-style:italic;}
pre {margin:1.5em 0;white-space:pre;}
li ul, li ol {margin:0;}
ul, ol {margin:0 1.5em 1.5em 0;padding-left:1.5em;}
dl {margin:0 0 1.5em 0;}
dl dt {font-weight:bold;}
dd {margin-left:1.5em;}
table {margin-bottom:1.4em;width:100%;}
th {font-weight:bold;}
thead th {background:#c3d9ff;}
th, td, caption {padding:4px 10px 4px 5px;}
tbody tr:nth-child(even) td, tbody tr.even td {background:#e5ecf9;}
tfoot {font-style:italic;}
caption {background:#eee;}